*_train/
webscrape/data/
dataset/cnn/train/
dataset/cnn/val/
dataset/cnn/v*/
dataset/yolo/images/
dataset/yolo/labels/
__pycache__/
.pytest_cache/

images/
results/
node_modules/
runs/

*.pyc
yolo*.pt